<!-- header -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <style>
    @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
    body{
      font-family: 'Jeju Gothic', serif;
      background-color:#222;
    }
    .darken{
      background-color:#222;
      color:#eee;
    }
    .header{
      text-align:center;
      padding-top:100px;
      padding-bottom:100px;
    }
    .content{
      /* content */
      padding-top:30px;
    }
    .list-group{
      width:90%;
      padding-left:10%;
    }
  </style>
  <title>T.T</title>
</head>