<div class="container-fluid header darken">
  <h1 class="display-1">ㅜ.ㅜ</h1>
  <p>젠장...울고싶다!</p>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">글보기</a>
    </li>
    <li class="nav-item">
      <a id="write" class="nav-link" href="/write">글쓰기</a>
    </li>
  </ul>
  <hr>
</div>