<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <% include partials/header %>
  <!-- body -->
  <body>
    <%include partials/nav %>
    <div class="container-fluid content">
      <h1><%= errormsg %></h1>
      <h2>에러가 발생했습니다.</h2>
      <a href="/">▶원래 페이지로 돌아가기</a>
    </div>
  </body>
=======
<!DOCTYPE html>
<html>
  <% include partials/header %>
  <!-- body -->
  <body>
    <%include partials/nav %>
    <div class="container-fluid content">
      <h1><%= errormsg %></h1>
      <h2>에러가 발생했습니다.</h2>
      <a href="/">▶원래 페이지로 돌아가기</a>
    </div>
  </body>
>>>>>>> f4f4039465db44cf204d6f73b63f3f5ced04124a
</html>