
<!DOCTYPE html>
<html>
  <% include partials/header %>
  <!-- body -->
  <body>
    <%include partials/nav %>
    <div class="container-fluid content">
      <h1><%= errormsg %></h1>
      <h2>에러가 발생했습니다.</h2>
      <a href="/">▶원래 페이지로 돌아가기</a>
    </div>
  </body>
</html>