<!DOCTYPE html>
<html>
  <% include partials/header %>
  <!-- body -->
  <body>
    <%include partials/nav %>
    <div class="container-fluid content darken"></div>
    <div class="list-group">
      <% data.forEach(function(el,i){ %>
      <div class="list-group-item flex-column align-items-start">
        <p class="mb-1"><%= el.article_content %></p>
        <small class="text-muted"><%= el.writer_ip %></small>
        <form action="/<%= i %>/">
          <input type="submit" class="btn btn-outline-secondary" value="공감" name="choice"/>
          <input type="submit" class="btn btn-outline-secondary" value="신고" name="choice"/>
        </form>
      </div>
      <% }) %>
    </div>
  </body>
</html>