<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <% include partials/header %>
  <!-- body -->
  <body>
    <%include partials/nav %>
    <div class="container-fluid content">
      <h1>sadword project</h1>
      <h2>만든사람: 박성렬(sungryeolp@gmail.com)</h2>
      <ul>
        <li>게시판/스레드 형태 서버 제작 연습을 위해 만들었습니다.</li>
        <li>제작언어:Node.js(javascript)</li>
        <li>DB: PostgreSQL</li>
        <li>사용된 라이브러리:Jquery, Bootstrap, Express</li>
        <li><a href="http://github.com/rabelais88">github.com/rabelais88</a></li>
        <li>헤로쿠 서버에 올려놓은 예제의 경우 다소 페이지 속도가 느릴 수 있습니다.</li>
      </ul>
      <a href="/">▶원래 페이지로 돌아가기</a>
    </div>
  </body>
=======
<!DOCTYPE html>
<html>
  <% include partials/header %>
  <!-- body -->
  <body>
    <%include partials/nav %>
    <div class="container-fluid content">
      <h1>sadword project</h1>
      <h2>만든사람: 박성렬(sungryeolp@gmail.com)</h2>
      <ul>
        <li>게시판/스레드 형태 서버 제작 연습을 위해 만들었습니다.</li>
        <li>제작언어:Node.js(javascript)</li>
        <li>DB: PostgreSQL</li>
        <li>사용된 라이브러리:Jquery, Bootstrap, Express</li>
        <li><a href="http://github.com/rabelais88">github.com/rabelais88</a></li>
        <li>헤로쿠 서버에 올려놓은 예제의 경우 다소 페이지 속도가 느릴 수 있습니다.</li>
      </ul>
      <a href="/">▶원래 페이지로 돌아가기</a>
    </div>
  </body>
>>>>>>> f4f4039465db44cf204d6f73b63f3f5ced04124a
</html>